body {
    background-color:greenyellow;
}


h3 {
    font-size:24px;

    font-weight:900;
    text-transform:uppercase;
}

p {
    font-size:2vw;
    margin:0;

}

header {
    position:absolute;
}


/*Make a class called "container" and give it a width of 960px and a margin of 0 auto. */
.container {
    width:100%;
    height:100vh;
    margin:0 auto;
    display: flex;
    /*Make perfect center*/
    justify-content: center;
    /*Make perfect center*/
    align-items: center;
    /*Align Items Vertically*/
    flex-direction: column;
    
    
}

/*Make a class called "row" and give it a width of 100% and a margin of 0 auto. */
.row {
    width:100%;
    margin:0 auto;
}

/*Make a class called "col" and give it a width of 100% and a margin of 0 auto. */
.col {
    width:100%;
    margin:0 auto;
}

/*Make a class called "col-1" and give it a width of 8.33% and a margin of 0 auto. */

.col-1 {
    width:8.33%;
    margin:0 auto;
}

/*Make a class called "col-2" and give it a width of 16.66% and a margin of 0 auto. */


.contentBlock-select {
    width:100vw;
    height:100vh;
    background-color: red;
}

html {
    background-color:antiquewhite;
}

/*Shared Wraps */

.mainWrap
{
    width:100%;
    height:100vw;
}

.mainwrap-SelectStage {
    width:100%;
    height:100vw;
    background-color:#00C0EA;
}

.blockHeader {
    width:100%;
    height:5vw;
    background-color:rgb(0, 255, 183);
}

/*Shared Two Column Layout*/

.column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


/*Button Wraps and Float Positions*/
.buttonWrap-RightSide
{
float:right;
}

/*BUTTON STYLES*/

.button_next{
    width: 337px;
    height: 78.56px;
    border-radius:9px;
    border-color:black;
    border-style:solid;
    border-width:thin;
    background-color:transparent;

}

.button_next:hover {
    background-color:rgb(0, 255, 213);
    cursor: pointer;
}






/* Shared 3x5 Grid */
/*THIS IS THE 3x5 Grid */

.grid-container-3x5 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(5, 135px);
    grid-gap: 10px;
    padding: 10px;
}
.grid-item-3x5 {
    background-color: #ddd;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.grid-item-3x5:hover {
    background-color: #E9515D;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {

    .grid-container-3x5 {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(5, 135px);
        grid-gap: 10px;
        padding: 10px;
    }

}

@media only screen and (max-width: 600px) {

    .grid-container-3x5 {
        display: grid;
        grid-template-columns: repeat(1, 200px);
        grid-template-rows: repeat(5, 135px);
        grid-gap: 10px;
        padding: 10px;
    }

}

/*END OF 3x5 GRID STYLE SETTINGS */


/*Screen SELECT VIEWPORT */

.screenSelect_viewport_wrap {

    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    background-color:aqua;

}

/*Make a grid with 4x3 and colorful clickable and dynamic items */
.grid-container-3x4 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
   

}

.grid-item-3x4 {
    background-color: #ddd;
    text-align: center;
    overflow:hidden;
    width:200px;
    height:300px;
    /*Make Inner Contents perfectly centered and vertically aligned*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-color:black;
    border-width:thin;
    /*END OF Make Inner Contents perfectly centered and vertically aligned*/
}

.buttonRight {
    float:right;
    float:bottom;
}

.wrapReview {
    /*Make Inner Contents perfectly centered and vertically aligned*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    /*END OF Make Inner Contents perfectly centered and vertically aligned*/
    width:100%;
    height:100vh;
    background-color:lightblue;

}




.logo {
    width:200px;
    height:200px;
    background-color:lightblue;
}